.container-fluid {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  max-width: 750px;
}
.nav li {
  display:table-cell !important;
}

.nav .active {
  background-color: #4e5d6c !important;
}

.list-group-item a i {
  margin-left: 20px;
  margin-top: -5px;
}
.list-group-item > p {
  width: 65%;
}
.list-group-item {
  margin-bottom: 2px;
}
h1, h2, h3, h4 {
  font-weight: bolder;
}

label {
  font-size: 17px;
}

input {
  font-weight: bolder;
}

.badge {
  background-color: #2b3e50;
}
a {
  cursor: pointer;
}
.form-control {
  font-size: 16px;
}
.edittask i {
  color: lightgrey;
}

.description {
  height: 200px !important;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.dropdown-menu li a {
  font-size: 17px;
}

.low {
  border-left: 10px solid #5bc0de;
}

.medium {
  border-left: 10px solid #f0ad4e;
}

.high {
  border-left: 10px solid #d9534f;
}